@using Microsoft.AspNetCore.Identity
@using Zoo.Core.Constants
@using Zoo.Core.Models.News
@using Zoo.Core.Models.NewsComments
@using Zoo.Infrastructure.Data.Models

@model NewsCommentsModel
@inject SignInManager<WebsiteUser> SignInManager
@inject UserManager<WebsiteUser> UserManager

@{
    ViewBag.Title = @Model.Title;
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="product-title"><a asp-controller="News" asp-action="Details" asp-route-id="@Model.Id">@Model.Title</a></h3>
            </div>
            <div class="card-body">
                <article>
                    <header class="entry-header">
                        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
                        <div class="entry-thumbnail d-flex justify-content-center">
                            <img class="img-fluid" src="@Model.ImgUrl" alt="Снимка">
                        </div>
                        <b class="entry-date right">Публикувана на: @Model.Date.ToString("D")</b>
                    </header>
                    <div class="entry-content">
                        <p class="short-content" style="white-space: pre-line;">
                            <span>@Html.Raw(@Model.Description)</span>
                        </p>
                        <h4> Автор: <a asp-controller="User" asp-action="UserProfile" asp-route-id="@UserManager.Users.Where(x => x.UserName == Model.Author.UserName).Select(x => x.Id).First()" >@Model.Author.UserName</a></h4>
                    </div>
                    @if (this.User.IsInRole(UserConstants.Administrator) || this.User.IsInRole(UserConstants.Moderator))
                    {
                        <a asp-controller="News" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-left">Изтрий</a>
                        <a asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning float-right">Редактирай</a>
                    }
                </article>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
    </div>
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fa fa-comments"></i>
                    Всички Коментари <b>@Model.NewsComments.Count</b>
                </h3>
            </div>
            @if (Model.NewsComments.Count == 0)
            {
                <h2 class="text-center">Няма коментари!</h2>
            }
            else
            {
                @foreach (var comment in Model.NewsComments)
                {
                    <div>
                        <blockquote>
                            <small>Автор: <cite title="Source Title"><a asp-controller="User" asp-action="UserProfile" asp-route-id="@UserManager.Users.Where(x => x.UserName == comment.User.UserName).Select(x => x.Id).First()" >@comment.User.UserName</a></cite></small>
                            <p>@comment.Content</p>
                            <small>Публикуван на: <cite title="Source Title">@comment.Date.ToString("f")</cite></small>
                            @if (this.User.IsInRole(UserConstants.Administrator) || this.UserManager.GetUserId(User) == comment.User.Id || this.User.IsInRole(UserConstants.Moderator))
                            {
                                <a asp-controller="NewsComments" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger float-right">Изтрий</a>
                                <a asp-controller="NewsComments" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-warning float-right">Редактирай</a>
                            }
                            @if (comment.LastEditedOn != null)
                            {
                                <br>

                                <small>Последна редакция на: <cite title="Source Title">@comment.LastEditedOn.Value.ToString("f")</cite></small>
                            }
                        </blockquote>
                    </div>
                }
            }
        </div>
    </div>
    @if (this.SignInManager.IsSignedIn(User))
    {
        <partial name="_PartialAddComment" />
    }
    else
    {
        <div class="col-md-10 offset-md-1">
            <h3 class="text-center">За да коментирате, <a asp-area="Identity" asp-page="/Account/Login">влезте</a> в профила си или се <a asp-area="Identity" asp-page="/Account/Register">регистрирайте</a>.</h3>
        </div>
    }
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}